#home-hero {
	background-image: url('../assets/dining-bg.jpg');
	background-size: cover;
	background-position: center;
}

.img-fig {
	width: 100%;
	height: auto;
	margin-left: 40px;
}

.article-img {
	width: 250px;
	height: auto;
}

article {
	font-size: 1.2em;
}

.page-content p {
	margin-bottom: 20px;
}

@media (max-width: 900px) {
	.img-fig {
		width: auto;
		margin: 0 auto;
	}
}
