#home-hero {
	background-image: url('../assets/lodging-bg.jpg');
	background-size: cover;
	background-position: center;
}

.img-fig {
	width: 100%;
	height: auto;
	margin-left: 40px;
}

.article-img {
	width: 250px;
	height: auto;
}

article {
	font-size: 1.5em;
}
